.MessageItem {
    display: flex;
    padding: 12px;
    cursor: pointer;
  }
  
  .MessageItem img {
    width: 45px;
    height: 45px;
  }
  
  .MessageItem__photo {
    background-color: #01b5f180;
    border-radius: 100%;
  }
  
  .MessageItem__content {
    font-size: 0.9rem;
    padding: 0 12px;
    width: 80%;
  }

  .text_card{
    
    width: 100%;
    
  }
  
  .MessageItem__content span:nth-child(1) {
    font-weight: bold;
  }
  
  .MessageItem__content span:nth-child(2) {
    color: rgb(172, 172, 172);
    font-size: 0.9rem;
  }
  
  .MessageItem__content--icons {
    
    background-color: white;
    gap: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
  }
  
  .MessageItem__content--icons img {
    background-color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .value_span{
    color: rgba(0, 0, 0, 0.414);
  }
  