.TrendItem{
    font-family:fantasy;
    padding:10px;
}

.TrendItem_userId{
    display: flex;
    align-items: flex-start;
    width: 20px;
    font-size: 13px;
    
}

.TrendItem_todo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.TrendItem_status{
    display: flex;
    justify-content: flex-end;
}