.SideMenu {
  flex-direction: column;
  align-items: start;
  width: 25%;
  height: 100vh;
  border-right: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.871);
  font-weight: bold;
  font-size: 0.9rem;
  display: none;
  }

  
  @media screen and (min-width: 800px) {
    .SideMenu {
      display: block;
    }
  }