.SideTrend {
    border-left: 1px solid lightgrey;
    width: 28%;
    padding:10px 0 0 10;
    display: none;
    overflow: scroll;
    height: 100vh;
  }

  .SideTrend_search {
    padding: 0 0 0 10px;
    width: 90%;
    height: 30px;
    border: 0;
    background-color: #eaeff1;
    border-radius: 24px;
    outline: none;
  }
  
  /* ATTENZIONE AL MOBILE FIRST */
  @media screen and (min-width: 800px) {
    .SideTrend {
      display: block;
    }
  }